@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind breakpoints
$sm:	 640px;	
$md: 	 768px;	
$lg:	1024px;
$xl:	1280px;
$xxl:	1536px;

[style-theme="dark"] {
  --bg-color1: #121416;
  --font-color: #f4f4f4;
}
[style-theme="light"] {
  --bg-color1: #f4f4f4;
  --font-color: #121416;
}

body {
  // @apply w-full;
  background-color: lightblue;
  // background-color: var(--bg-color1);
  // color: var(--font-color);
}

#app {
  // @apply w-full;
  background-color: blue;
  // background-color: var(--bg-color1);
  // color: var(--font-color);
}
