@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind breakpoints
$sm:	 640px;	
$md: 	 768px;	
$lg:	1024px;
$xl:	1280px;
$xxl:	1536px;

[style-theme="dark"] {
  --bg-color1: #121416;
  --font-color: #f4f4f4;
}
[style-theme="light"] {
  --bg-color1: #f4f4f4;
  --font-color: #121416;
}

html, body {
  @apply h-full;
  background-color: navajowhite;
  // background-color: var(--bg-color1);
  // color: var(--font-color);
}

#app {
  // @apply h-full;
  // background-color: grey;
  // background-color: var(--bg-color1);
  // color: var(--font-color);
  
  @apply h-full;
  background-color: pink;
}
